# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace
xcshareddata/

# Swift Package Manager
Packages/
.swiftpm/
.build/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# macOS
*.stackdump

# User settings
*.swp
.idea/

# Carthage
Carthage/Build/
